<h1>Admin Invoice Show</h1>

<h1><%= @invoice.id %></h1>

<%= form_with model: [:admin, @invoice], method: 'patch', local: true do |f| %>
  Invoice Status: <%= f.select :status, Invoice.statuses, selected: Invoice.statuses[@invoice.status] %>
  <%= f.submit %>
<% end %>

<p>Created at: <%= @invoice_created_at %></p>
<p>Customer: <%= (@invoice.customer.first_name + " " + @invoice.customer.last_name) %></p>
<p>Total Revenue For This Invoice: <%= number_to_currency(@invoice.revenue / 100) %></p>

<% @invoice.invoice_items.each do |ii| %>
  <p>Item name: <%= ii.item.name %></p>
  <p>Item quantity: <%= ii.quantity %></p>
  <p>Item status: <%= ii.status %></p>
  <p>Item price: <%= ii.unit_price %></p>
<% end %>
