<div class="container">
  <%= render 'partials/header' %>
  <div class="row">
    <h1>Admin Merchant Index</h1>
  </div>

  <div class="row">
    Create a new Merchant
    <%= react_component("CreateMerchant", {
      auth_token: form_authenticity_token.to_s
    }) %>
  </div>

  <div class="row merchants">

    <div class="col" id="enabled">
      <h3>Enabled</h3>
      <ul id="enabled-merchants">
        <%= react_component("Merchants", {
          merchants: @enabled,
          auth_token: form_authenticity_token.to_s
        }) %>
      </ul>
    </div>

    <div class="col" id="disabled">
      <h3>Disabled</h3>
      <ul id="disabled-merchants">
        <%= react_component("Merchants", {
          merchants: @disabled,
          auth_token: form_authenticity_token.to_s
        }) %>
      </ul>
    </div>

    <div class="col" id="top5">
      <h3>Top 5 Merchants</h3>
      <ol id="top5-list">
        <% @top_5_merchants.each do |m| %>
          <li id="top5-list-<%=m.id %>" class="top5-list-item">
            <%= link_to m.name, admin_merchant_path(m) %> |
            <p><%= number_to_currency(m.revenue/100) %></p> |
            <p>Top day: <%= m.top_day[0].created_at.strftime('%A, %B %d, %Y') %></p>
          </li>
        <% end %>
      </ol>

    </div>

  </div>
</div>



