<div class="col-10">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="/merchants/<%= @merchant.id %>/invoices"
        >Invoices</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/merchants/<%= @merchant.id %>/items"
        >Items</a
      >
    </li>
  </ul>
  <h3><%= @merchant.name %></h3>
  <br />
</div>
<div class="row" id="top_cust">
  <div class="col-4" id="cust_table_div">
    <h5>Top Customers</h5>
    <table class="table" id="cust_table">
      <tr>
        <th>Name</th>
        <th>Transaction Count</th>
      </tr>
      <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.first_name + ' ' + customer.last_name %></td>
        <td><%= customer.trans_count %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="col-6">
    <h5>Items Ready to Ship</h5>
    <table class="table" id="ship_table">
      <tr>
        <th>Item</th>
        <th>Invoice ID</th>
        <th>Invoice Created at</th>
      </tr>
      <% @items_pending.each do |item| %>
      <tr>
        <td><%= item.name %></td>
        <td>
          <%= link_to "#{item.invoice_id}",
            merchants_merch_invoice_path(invoice_id: item.invoice_id),:class =>
            "nav-link", :style=>"color: rgb(59, 87, 105);" 
          %>
        </td>
        <td><%= item.formatted_time %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class='col' id='discount_link'>
    <%= link_to "See all discounts for #{@merchant.name}",
    merchants_bulk_discounts_path %>
  </div>
</div>
