<!DOCTYPE html>
<html>
  <head>
    <title>LittleEtsyShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <div id="page-contents">

    <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: rgb(59, 87, 105)">
      <a class="navbar-brand" href="/">
        <img src="https://img-premium.flaticon.com/png/512/2673/2673880.png?token=exp=1622744139~hmac=dc5548b1df5a6b7706747e6ff24b73b3" style="max-width: 55px; max-height:auto;"alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/" style="color: rgb(217, 221, 222);">Home </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(217, 221, 222);" >
              Merchants
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <div class="dropdown-divider"></div>
              <%= link_to "Dashboard", "/admin", :class => "dropdown-item", :style=>"color: rgb(105, 0, 0);"%>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: rgb(217, 221, 222);" >
              Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Dashboard", "/admin", :class => "dropdown-item", :style=>"color: rgb(105, 0, 0);"%>
              <div class="dropdown-divider"></div>
              <%= link_to "Merchants", "/admin/merchants", :class => "dropdown-item", :style=>"color: rgb(105, 0, 0);"%>
              <%= link_to "Invoices", "/admin/merchants", :class => "dropdown-item", :style=>"color: rgb(105, 0, 0);"%>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>
    <div class="row justify-content-center">
        <%= yield %>
      </div>
    </div>
  </div>
  <footer>
    <div class="col-12 col-lg-10 mt-2 pt-2">
      <div class="row">
        <div class="col-3 mt-2 pt-2">
          <blockquote class="blockquote">
            <div class="mx-auto">
              <h5 style="color: rgb(240, 242, 245)">See Our Devs</h5>
            </div>
          </blockquote>
        </div>
        <div class="col-6 col-sm-3 mt-2 pt-2">
          <%= react_component('Footer') %>
        </div>
      </div>
    </div>
  </footer>
</body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
